@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,700;1,400&family=Nunito:wght@300&family=Poppins:ital,wght@0,400;1,100&family=Roboto:wght@100;300&display=swap');
*{
  font-family: 'Courier Prime', monospace;
font-family: 'Nunito', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
.layout {
  width: auto;
  height: auto;

  display: grid;
  grid:
    "header" auto
    "main" 1fr
    "footer" auto
    / 1fr;
  gap: 40px;
  width: auto;
  height: 100%;
  background: linear-gradient(
    to right,
    #efedef 0%,
    #efedef 50%,

  #325073 50%,
  #22364d 100%)
  
}

.header { grid-area: header;
}
.main { grid-area: main; }
.footer { grid-area: footer; }

 nav ul {
  list-style-type: none;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.button{
  background: rgba(255, 255, 255, 0.38);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px);
border: 1px solid rgba(255, 255, 255, 1);
padding: 0.3em 1.5em;
  font-size:16px;
  font-weight: 200;
  font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
  color: white;
}

  



.stylebody{
/* From https://css.glass */
background: rgba(173, 184, 207, 0.12);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.2px);
-webkit-backdrop-filter: blur(4.2px);
border: 1px solid rgba(173, 184, 207, 255);
}

.stylebody1{
/* From https://css.glass */
background: rgba(231, 215, 227, 0);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px);
border: 1px solid rgba(231, 215, 227, 0.3);
}


.styleprojet{
/* From https://css.glass */
margin: 150px;
background: rgba(255, 255, 255, 0);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);}





@keyframes move-up6 {
  to {
    transform: translateY(-5px);
  }
}

@keyframes move-down1 {
  to {
    transform: translateY(5px);
  }
}

.card {
  width: 400px;
  height: 300px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.04);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(14.9px);
-webkit-backdrop-filter: blur(14.9px);
border: 1px solid rgba(255, 255, 255, 0.13);
 }





.carousel-container {
    
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.carousel {
  margin-top: 3%;
  display: flex;
  animation: scroll 60s linear infinite;
}

.slide {
  width: 100%;
  box-sizing: border-box;
  float: left;
  margin-right: 60px; /* Espacement entre les slides */
  display: flex;
  align-items: center;
}

.slide img {
    max-width: 100%; /* Définir une largeur maximale pour les images */
    height: auto; /* Permettre à la hauteur de s'ajuster proportionnellement */
    display: block; /* Supprimer les espaces réservés sous les images */
    border-radius: 10px; /* Ajouter une bordure arrondie aux images si nécessaire */
  }

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-300%);
  }
}

.headingtext {
  position: absolute !important;
  transform: rotate(-90deg);
  margin-top: -14px;
  left: 0px;
}

/*rose svg*/
.fill{
  filter: invert(67%) sepia(89%) saturate(7492%) hue-rotate(346deg) brightness(84%) contrast(146%);
}

/*neumorphism*/



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif; 
}

.card {
  width: 90%;
  max-width: 350px;
  height: auto;
  border-radius: 16px;
  border-color: #D1D9E6 !important;
  background : #22364d;
  padding: 0px 0px 100px;
  box-shadow: 6px 6px 12px #b8b9be,-6px -6px 12px #fff !important;
}
.card .wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex direction
}


.card1 {
  width: 90%;
  max-width: 350px;
  height: auto;
  border-radius: 16px;
  border-color: #D1D9E6 !important;
  background: #efedef;
  padding: 30px 35px 20px;
  box-shadow: 6px 6px 12px #b8b9be,-6px -6px 12px #efedef !important;
}

.card2 {
  margin-top: 30px;
  width: auto;
  height: auto;
  border-radius: 16px;
  border-color: #D1D9E6 !important;
  background: #efedef;
  padding: auto;
  box-shadow: 6px 6px 12px #b8b9be,-6px -6px 12px #fff !important;
}

.card3 {
  margin-top: 10px;
  width: auto;
  height: 300px;
  border-radius: 96px;
  border-color: #D1D9E6 !important;
  background: #efedef;
  padding: auto;
  box-shadow: 6px 6px 12px #b8b9be,-6px -6px 12px #fff !important;
}

.card5 {
  height: 150px;
  border-radius: 16px;
  border-color: #D1D9E6 !important;
  background: #efedef;
  padding: auto;
  border-radius: 50px;
  background: linear-gradient(145deg, #fffeff, #d7d5d7);
  box-shadow:  8px 8px 16px #aaa8aa,
               -8px -8px 16px #ffffff;
  
}

.card4 {
  border-radius: 16px;
  border-color: #D1D9E6 !important;
  background: #b7c9db;
  padding: auto;
  box-shadow: 6px 6px 12px #b8b9be,-6px -6px 12px #fff !important;
  
}



.card6 {
  margin-top: 10px;
  width: auto;
  height: 300px;
  border-radius: 96px;
  border-color: #D1D9E6 !important;
  padding: auto;
  border-radius: 50px;
  border-radius: 50px;
  border-radius: 50px;
background: #b7c9db;
box-shadow: inset 5px 5px 7px #8693a0,
            inset -5px -5px 7px #e8ffff;
}




.image {
  background-image: url('matheo-jbt-MIjvmbn7koI-unsplash.jpg');
  background-clip: text;
  color: transparent;
  background-color: white;

}


/*style bouton téléchargement CV*/
.fancy {
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  float: right;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 1.25em 2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-size: 13px;
 }
 
 .fancy::before {
  content: " ";
  width: 1.5625rem;
  height: 2px;
  background: black;
  top: 50%;
  left: 1.5em;
  position: absolute;
  transform: translateY(-50%);
  transform-origin: center;
  transition: background 0.3s linear, width 0.3s linear;
 }
 
 .fancy .text {
  font-size: 1.125em;
  line-height: 1.33333em;
  padding-left: 2em;
  display: block;
  text-align: left;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
 }
 
 .fancy .top-key {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background: #e8e8e8;
  transition: width 0.5s ease-out, left 0.3s ease-out;
 }
 
 .fancy .bottom-key-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: #e8e8e8;
  transition: width 0.5s ease-out, right 0.3s ease-out;
 }
 
 .fancy .bottom-key-2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: #e8e8e8;
  transition: width 0.5s ease-out, right 0.3s ease-out;
 }
 
 .fancy:hover {
  color: white;
  background: black;
 }
 
 .fancy:hover::before {
  width: 0.9375rem;
  background: white;
 }
 
 .fancy:hover .text {
  color: white;
  padding-left: 1.5em;
 }
 
 .fancy:hover .top-key {
  left: -2px;
  width: 0px;
 }
 
 .fancy:hover .bottom-key-1,
  .fancy:hover .bottom-key-2 {
  right: 0;
  width: 0;
 }
 /*fin bouton téléchargement CV*/


 /*animation souris*/ 
 
 .cursor {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: #f8e71c;
  border-radius: 50%;
  pointer-events: none;
  transition: transform 1s ease, opacity 1s ease;
  transition-property: transform, opacity;
  transition-duration: 2s, 2s;
  transition-timing-function: ease, ease;
  transition-delay: 0s, 0s;
 }
 
 .cursor--hover {
  transform: scale(4);
  opacity: 0;
 }
 /*animation souris*/ 

 /*effet screen*/
 p::selection {
  background-color: lightyellow;
  color: red;
 }
/*effet screen*/




/*animation card*/
body {
  height: 2000px;
  
}

.element {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease;
}

.element.visible {
  opacity: 1;
  transform: translateY(0);
}